<nav>
  <input type="checkbox" id="toggle-menu" />

  <h1 class="play-bold">
    <img src="/assets/logo.png" height="40" />
    Bunk Gaming
  </h1>

  <ul class="nav-bar">
    <a class="active" routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/platforms" routerLinkActive="active">Platforms</a>
    <a routerLink="/developers" routerLinkActive="active">Developers</a>
  </ul>

  <label class="menu-icon" for="toggle-menu">
    <a id="menu-icon" class="menu-icon">
      <i class="fa fa-bars"></i>
    </a>
  </label>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
